<%= form_for([@room, @room.reservations.new]) do |f| %>

    <div class="row">
        <div class="col-md-12 price_tag">
            <span>€<%= @room.price %></span>
            <span class="pull-right">Par nuit</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Arrivée</label>
            <%= f.text_field :start_date, readonly: 'true', placeholder:'jj/mm/aaaa', class:'form-control' %>
        </div>
        <div class="col-md-6">
            <label>Départ</label>
            <%= f.text_field :end_date, readonly: 'true', placeholder:'jj/mm/aaaa', class:'form-control', disabled: 'true' %>
        </div>
    </div>
    
    <div id="preview" style="display: none">
        <table class="reservation-table">
            <tbody>
                <tr>
                    <td>Nuit(s)</td>
                    <td><span id="reservation_days"></span></td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td><span id="reservation_sum"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <%= f.hidden_field :room_id, value: @room.id %>
    <%= f.hidden_field :price, value: @room.price %>
    <%= f.hidden_field :total, id:'reservation_total' %>
    
    <br>
    
    <%= f.submit "Demande de réservation", class:"btn btn-primary wide" %>

<% end %>


<script>

    function unavailable(date) {
        dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
        return [$.inArray(dmy, unavailableDates) == -1];
    }

    $(function(){
        
        unavailableDates = [];
        
        $.ajax({
            url: '/preload',
            data: {'room_id': <%= @room.id %>},
            dataType: 'json',
            success: function(data) {
                $.each(data, function(arrID, arrValue){
                    for(var d = new Date(arrValue.start_date); d <= new Date(arrValue.end_date);
                    d.setDate(d.getDate() +1)) {
                        unavailableDates.push($.datepicker.formatDate('d-m-yy', d));
                    }
                })
                
                $('#reservation_start_date').datepicker({
                    dateFormat: 'dd-mm-yy',
                    monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août',
                    'Septembre','Octobre','Novembre','Décembre'],
                    dayNamesMin: ['D','L','M','M','J','V','S'],
                    minDate: 0,
                    maxDate: '3m',
                    beforeShowDay: unavailable,
                    onSelect: function(selected) {
                        $('#reservation_end_date').datepicker("option","minDate", selected);
                        $('#reservation_end_date').attr('disabled', false);
                    }
                });
                
                $('#reservation_end_date').datepicker({
                    dateFormat: 'dd-mm-yy',
                    monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août',
                    'Septembre','Octobre','Novembre','Décembre'],
                    dayNamesMin: ['D','L','M','M','J','V','S'],
                    minDate: 0,
                    maxDate: '3m',
                    beforeShowDay: unavailable,
                    onSelect: function(selected) {
                        $('#reservation_start_date').datepicker("option", "maxDate", selected);
                    }
                });
                
            }
        });
        
        
    });
</script>