<%= form_for([@room, @room.reservations.new], html: {class: 'cc_form'}) do |f| %>

    <div class="row">
        <div class="col-md-12 price_tag">
            <span><%= @room.price %> €</span>
            <span class="pull-right">Par nuit</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Arrivée</label>
            <%= f.text_field :start_date, readonly: 'true', placeholder:'jj/mm/aaaa', class:'form-control' %>
        </div>
        <div class="col-md-6">
            <label>Départ</label>
            <%= f.text_field :end_date, readonly: 'true', placeholder:'jj/mm/aaaa', class:'form-control', disabled: 'true' %>
        </div>
    </div>
    
    <h5><div id="message"></div></h5>
    
    <div id="preview" style="display: none">
        <table class="reservation-table">
            <tbody>
                <tr>
                    <td>Nuit(s)</td>
                    <td><span id="reservation_days"></span></td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td><span id="reservation_sum"></span></td>
                </tr>
            </tbody>
        </table>
        <br>
        <h5><span id="stripe"></span></h5>
        <%= fields_for(:payment) do |p| %>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-8">
                        <%= p.label :card_number, "Numéro de CB", data: {stripe: 'label' } %>
                        <%= p.text_field :card_number, class:"form-control", required: true, data: {stripe: 'number'} %>
                    </div>
                    <div class="form-group col-md-4">
                        <%= p.label :card_cvv, "CVV", data: {stripe: 'label'} %>
                        <%= p.text_field :card_cvv, class:"form-control", required: true, data: {stripe: 'cvv'} %>
                    </div>
                    <div class="col-md-10">
                        <div class="col-md-12">
                            <%= p.label :card_expires, "Expire fin :", data: {stripe: 'label'} %>
                        </div>
                        <div class="form-group col-md-5">
                            <%= p.select :card_expires_month, options_for_select(Payment.month_options),
                            {include_blank: 'Mois'}, "data-stripe" => "exp-month", class:"form-control", required: true %>
                        </div>
                        <div class="form-group col-md-6">
                            <%= p.select :card_expires_year, options_for_select(Payment.year_options.push),
                            {include_blank: 'Année'}, class:"form-control", data: {stripe: "exp-year" }, required: true %>
                        </div>
                    </div>
                </div>
            </div>
        
        <% end %>
    </div>
    
    <%= f.hidden_field :room_id, value: @room.id %>
    <%= f.hidden_field :price, value: @room.price %>
    <%= f.hidden_field :total, id:'reservation_total' %>
    
    <br>
    
    <%= f.submit "Demande de réservation", id:"btn_book", class:"btn btn-primary wide", disabled: 'true' %>

<% end %>



<script>
    function unavailable(date) {
        dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
        return [$.inArray(dmy, unavailableDates) == -1];
    }
    $(function(){
        
        unavailableDates = [];
        
        $.ajax({
            url: '/preload',
            data: {'room_id': <%= @room.id %>},
            dataType: 'json',
            success: function(data) {
                $.each(data, function(arrID, arrValue){
                    for(var d = new Date(arrValue.start_date); d <= new Date(arrValue.end_date);
                    d.setDate(d.getDate() +1)) {
                        unavailableDates.push($.datepicker.formatDate('d-m-yy', d));
                    }
                })
                
                $('#reservation_start_date').datepicker({
                    dateFormat: 'dd-mm-yy',
                    monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août',
                    'Septembre','Octobre','Novembre','Décembre'],
                    dayNamesMin: ['D','L','M','M','J','V','S'],
                    minDate: 0,
                    maxDate: '3m',
                    beforeShowDay: unavailable,
                    onSelect: function(selected) {
                        var newdate = new Date($("#reservation_start_date").datepicker("getDate"));
                        newdate.setDate(newdate.getDate() + 1);
                        $('#reservation_end_date').datepicker("option","minDate", newdate);
                        $('#reservation_end_date').attr('disabled', false);
                        
                        var start_date = $(this).datepicker('getDate');
                        var end_date = $('#reservation_end_date').datepicker('getDate');
                        var diff = (end_date - start_date)/1000/60/60/24;
                        var days = Math.round(diff);
                        
                        
                        var input = {
                            'start_date': start_date,
                            'end_date': end_date,
                            'room_id': <%= @room.id %>
                            
                        }
                            
                            $.ajax({
                                url: '/preview',
                                data: input,
                                success: function(data) {
                                    if (data.conflict) {
                                        $('#message').show();
                                        $('#message').text("Ces dates sont indisponibles");
                                        $('#preview').hide();
                                        $('#btn_book').attr('disabled', true);
                                    } else {
                                        $('#message').hide();
                                        $('#preview').show();
                                        $('#btn_book').attr('disabled', false);
                                        
                                        var total = days * <%= @room.price %>
                                        $('#reservation_days').text(days);
                                        $('#reservation_sum').text(total);
                                        $('#reservation_total').val(total);
                                    }
                                
                                }
                            });
                        
                    }
                });
                
                $('#reservation_end_date').datepicker({
                    dateFormat: 'dd-mm-yy',
                    monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août',
                    'Septembre','Octobre','Novembre','Décembre'],
                    dayNamesMin: ['D','L','M','M','J','V','S'],
                    minDate: 0,
                    maxDate: '3m',
                    beforeShowDay: unavailable,
                    onSelect: function(selected) {
                        $('#reservation_start_date').datepicker("option", "maxDate", selected);
                        
                        var start_date = $('#reservation_start_date').datepicker('getDate');
                        var end_date = $(this).datepicker('getDate');
                        var diff = (end_date - start_date)/1000/60/60/24;
                        var days = Math.round(diff);
                        
                        
                        var input = {
                            'start_date': start_date,
                            'end_date': end_date,
                            'room_id': <%= @room.id %>
                            
                        }
                            
                            $.ajax({
                                url: '/preview',
                                data: input,
                                success: function(data) {
                                    if (data.conflict) {
                                        $('#message').show();
                                        $('#message').text("Ces dates sont indisponibles");
                                        $('#preview').hide();
                                        $('#btn_book').attr('disabled', true);
                                    } else {
                                        $('#message').hide();
                                        $('#preview').show();
                                        $('#btn_book').attr('disabled', false);
                                        
                                        var total = days * <%= @room.price %>
                                        $('#reservation_days').text(days);
                                        $('#reservation_sum').text(total);
                                        $('#reservation_total').val(total);
                                    }
                                
                                }
                            });
                        
                    }
                });
                
            }
        });
        
        
    });
</script>

<script language="Javascript">

Stripe.setPublishableKey("pk_test_3iKLFqhcqTybmXpSupzVM01P");

</script>